@import "../../../global.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;

  &__logo {
    @extend %flex-center-y;
    gap: 5px;

    &__img {
      height: 35px;
    }

    &__text {
      font-size: 25px;
      color: $light-color;
      font-weight: 400;

      span {
        font-weight: 500;
      }
    }
  }

  &__profile {
    @extend %flex-center;
    height: 40px;
    cursor: pointer;
  }
}