@import "../../global.scss";

.home {
  background-color: $dark-color;
  color: $light-color;
  min-height: 100vh;
}

.main {
  @extend %flex-column;
  align-items: center;
  margin: 10px 40px;

  &__search {
    display: flex;
    width: 100%;
    background-color: $secondary-color;
    border-radius: 25px;
    padding: 15px;

    @extend %box_shadow;

    &__search_bar {
      @extend %flex-center-y;

      &__img {
        font-size: 2rem;
        margin-right: 10px;
      }
  
      &__input {
        width: 100%; 
        background-color: transparent;
        outline: none;
        border: none;
        color: $light-color;
        font-size: 1.4rem;

        &::placeholder {
          color: $gray-scale;
        }
      }
    }
  }

  &__carousel {
    @extend %flex-center-x;
    width: 100%;
  }

  &__cards {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 120px;

    &__header {
      @extend %flex-center-y;
      justify-content: space-between;
      margin-bottom: 20px;


      &__text {
        font-size: 3.5rem;
        font-weight: 500;
      }

      &__icon {
        font-size: 3.5rem;
        transition: 0.3s;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:hover {
          color: $contrast-color;
          transition: 0.3s;
        }
      }
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 300px));
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      justify-content: center;

    }

    &__menssage {
      font-size: 2rem;
      font-weight: 400;
      color: $gray-scale;
    }
  }
}