@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // 1 rem = 10px
  font-size: 62.5%; 
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$primary-color: #00AAD4;
$secondary-color: #00647D ;
$tertiary-color: #007FFF;
$light-color: #FFFFEC;
$dark-color: #003D4E;
$contrast-color: #FFFF39;
$gray-scale: #BCBCBC;

* {
  margin: 0;
  padding: 0;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%button_login_register {
  color: $secondary-color;
  border: 3px solid $light-color;
  background-color: $light-color;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.4s;


  &:hover {
    background-color: transparent;
    color: $light-color;
  }

  &:active {
    background-color: rgba(255, 255, 236, 0.33);
    color: $light-color;
  }
}

%link_login_register {
  font-size: 1rem;
  text-decoration: underline;
  color: $light-color;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $gray-scale;
  }
}