@import "../../../global.scss";

%item {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
}

.container {
  @extend %flex-center-x;
}

.navbar {
  @extend %flex-center-y;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 10;

  background-color: $secondary-color;
  width: calc(100% - 80px);
  margin: 0px 40px 20px 40px;
  padding: 10px 20px;
  border-radius: 20px;
  @extend %box_shadow;

  &__item {
    @extend %item;
    transition: 0.4s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .icon {
      font-size: 40px;
      transition: 0.4s;
    }
  
    .text {
      font-size: 1.6rem;
      transition: 0.4s;
    }
  }

  &__item_active {
    @extend %item;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .icon {
      color: $contrast-color;
      font-size: 40px;
      transition: 0.4s;
    }
  
    .text {
      color: $contrast-color;
      font-size: 1.6rem;
      transition: 0.4s;
    }
  }
}